#one{
    width: 270px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}
#two{
    width: 500px;
    height: 90px;
    box-shadow: 0 0 30px red;
}
#three{
    outline-style: dashed;
    outline-width: 9px;
    outline-offset: 1px;
    outline-color: yellowgreen;
}
#fourfull{
    background-color: blue;
    width: 550px;
    height: 150px;
    position: absolute;
}
#four{
    background-color: white;
    width: 80%;
    height: 60%;
    text-align: center;
    margin: 0 auto;
}


#five{
    position: relative;
    background-color: black;

    width: 200px;
    height: 150px;

    color: white;
    text-align: center;
    border-radius: 10px;

    font-family: sans-serif;
}
